.carousel,
.carousel__image {
    width: 100%;
    height: 100%;

    border-radius: var(--radius-large);
}

.carousel__container {
    position: relative;
    overflow: hidden;
    text-align: center;

    @media (width >= 1024px) {
        width: 100%;
    }

    .carousel__track {
        display: flex;
        height: 100%;
    
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        will-change: transform;
        
        .carousel__slide {
            position: relative;
            flex: 0 0 100%;
            height: 100%;

            .carousel__image {
                display: grid;
                
                object-fit: cover;
                object-position: center center;
                pointer-events: none;
                user-select: none;
            
                /* 🔹 Mejoras de rendimiento y compatibilidad en Safari / iOS */
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                -webkit-overflow-scrolling: touch;
                -webkit-perspective: 1000;
                perspective: 1000;
                -webkit-transform-style: preserve-3d;
                transform-style: preserve-3d;
                will-change: transform;
            }
        }
    }

    .carousel__indicators {
        position: absolute;
        bottom: 0;
        z-index: var(--z-index-dropdown);
    
        display: flex;
        align-items: flex-end;
        justify-content: center;
        gap: var(--spacing-sm);
        width: 100%;
        height: 100%;
        padding-bottom: 3.2rem;
    
        transition: width 0.4s ease;
    
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            
            width: 100%;
            height: 40%;
            border-radius: var(--radius-large);
            
            background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.8),
                rgba(0, 0, 0, 0)
            );
            
            pointer-events: none;
            z-index: var(--z-index-dropdown);

        }
        
        .carousel__indicator {
            position: relative;
            z-index: var(--z-index-overlay);
        
            width: 1.2rem;
            height: 1.2rem;
            border-radius: var(--radius-full);
        
            background-color: var(--color-primary-base);
        }
        
        .carousel__indicator--active {
            width: 3.2rem;
        }
    }
}